 <nav class="red" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="" class="brand-logo">Login</a>
          <a href="javascript:history.back()" ><i class="large material-icons">arrow_back</i></a>
        </div>
  </nav>

<div class="container">
  <div id="login" class="signin-card">
  <div class="logo-image">
  <img src="images/logo.png" alt="Logo" title="Logo" width="138">
  </div>
  <form class="col s12" method="post" ng-submit="login(loginForm)" name="loginForm" novalidate>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text"  name="email" ng-model="user.email"  required autofocus>
          <label for="email">Email</label>
          <span class="error-msg" ng-show="loginForm.email.$invalid && submitted"> This is required </span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password"  name="password" ng-model="user.password"  required>
          <label for="password">Password</label>
          <span class="error-msg" ng-show="loginForm.password.$invalid && submitted"> This is required </span>
        </div>
      </div>
    <div>
      <button class="btn btn-block ripple-effect"  type="submit" name="Submit" alt="sign in">Sign in</button>  
	  </div>
    <p class="text-center text-muted">
            <small>Don't have an account yet?</small> <a href="#/signup">Sign up</a>
    </p>
    <p class="text-center text-muted">
            <a href="#/forgotPassword">Forgot Password</a>
    </p>
    </div>
  </form>
</div>
</div>

<script>
    $('.button-collapse').sideNav();
    $('ul.tabs').tabs();
    $('.collapsible').collapsible({
       accordion : false
     });
    $('.slider').slider({full_width: false}); 
</script>
